.navbar {
    background-color: #121212;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li img {
    height: auto;
  }

  .logo{
    width: 200px;
  }

  .riotgames{
    width: 150px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  li {
    margin: 0 15px;
    height: 100%;
  }
  
  .separator {
    height: 60px;
    width: 2px;
    background-color: white;
  }
  
  li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    height: 100%;
    font-size: 24px;
    width: 100px;
    font-family:"Spiegal Sans";
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li a:hover {
    color: #FD4556;
    text-decoration: none;
    transition: background-color .5s, color .5s;
  }

  .LogIn {
    background-color: #FD4556;
    color: white;
    font-size: 20px;
    font-family: "Spiegal Sans";
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border:none
  }

  .LogIn:hover{
    background-color: #fafafa;
  }

  .Username{
    background-color: #1E1E1E;
    color: white;
    font-size: 20px;
    font-family: "Spiegal Sans";
    font-weight: bold;
    padding: 6px 75px;
    border-radius: 15px;
    outline: none;
    border:none
  }

  .Username:hover{
    background-color: #252525;
  }

  .navright{
    height: 100%;
  }