@font-face {
    font-family: 'DIN Next';
    src: url('../../fonts/DINnext/dinnextltpro-regular-webfont.woff2') format('woff2'),
         url('../../fonts/DINnext/dinnextltpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DIN Next';
    src: url('../../fonts/DINnext/dinnextltpro-light-webfont.woff2') format('woff2'),
         url('../../fonts/DINnext/dinnextltpro-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'DIN Next';
    src: url('../../fonts/DINnext/dinnextltpro-italic-webfont.woff2') format('woff2'),
         url('../../fonts/DINnext/dinnextltpro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'DIN Next';
    src: url('../../fonts/DINnext/dinnextltpro-bold-webfont.woff2') format('woff2'),
         url('../../fonts/DINnext/dinnextltpro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Spiegal Sans';
    src: url('../../fonts/spiegalsans/spiegelsanscd-5regular_trial-webfont.woff2') format('woff2'),
         url('../../fonts/spiegalsans/spiegelsanscd-5regular_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Spiegal Sans';
    src: url('../../fonts/spiegalsans/spiegelsanscd-7bold_trial-webfont.woff2') format('woff2'),
         url('../../fonts/spiegalsans/spiegelsanscd-7bold_trial-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Spiegal Sans';
    src: url('../../fonts/spiegalsans/spiegelsanscd-4semilight_trial-webfont.woff2') format('woff2'),
         url('../../fonts/spiegalsans/spiegelsanscd-4semilight_trial-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'Tungsten';
    src: url('../../fonts/tungsten/tungsten-black-webfont.woff2') format('woff2'),
         url('../../fonts/tungsten/tungsten-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Tungsten';
    src: url('../../fonts/tungsten/tungsten-bold-webfont.woff2') format('woff2'),
         url('../../fonts/tungsten/tungsten-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Tungsten';
    src: url('../../fonts/tungsten/tungsten-book-webfont.woff2') format('woff2'),
         url('../../fonts/tungsten/tungsten-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Valorant';
    src: url('../../fonts/valorant/Valorant-font.woff') format('woff2'),
    url('../../fonts/valorant/Valorant-font.woff') format('woff');
  }
  